<h1>Manufacturing China</h1>
<p><b>Make your products in China quick and easy</b>. Manufacturing in China can be done with ease and lots of fun. I have gone to China quite a few times, helping companies source tooling, sewing, retail products, and factories in China. We specialize in retail products, automotive components, metal, rubber, foam and plastic products made in China. Our focus is cost reduction of your existing products.
</p>
